.cell-output-container {
    overflow: scroll;
    max-height: 20em;

    padding: 0.125rem 0.25rem;
    margin-block-end: 1rem;
}

.cell-output-container pre {
    overflow: visible;
    margin-block: 0;
}

.cell-output-container pre code {
    padding: 0;
}
